<!DOCTYPE html>
<html>
    <head>
        <title>HarvestAI Form</title>
        <meta charset="UTF-8">
        <meta name="description" content="HarvestAI Form">
        <meta name="author" content="HarvestAI">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <div class="form-page-container">
            <h1 id="name">Introducing pestDecide</h1>
            <div class="form-container">
                <form class="input_form" action="/process_form" method="post" enctype="multipart/form-data">
                    <label>Add Photo of Pest</label>
                    <input type="file" id="image" name="image" accept="image/*" required>

                    <input type="text" id="crop_name" name="crop_name" placeholder="Crop Name" required>
                    
                    <button type="submit" class="primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
