<!DOCTYPE html>
<html>
    <head>
        <title>HarvestAI Form</title>
        <meta charset="UTF-8">
        <meta name="description" content="HarvestAI Form">
        <meta name="author" content="HarvestAI">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body class="identi_body">
        <div class="form-page-container">
            <h1 id="name">Pesticide Recommendations</h1>

            <h3>Pest found: {{ pest }}</h3>
            <h3>Pest confidence: {{ percentage }} %</h3>
            <h3>Crop intended for: {{ crop }}</h3>
            <h3>Location of application: {{ location }}</h3>

            <p>pestDecide found the following options for suitable pesticides given your relevant information</p>

            <!-- Iterate through all key-value pairs in dict_probs -->
            {% for pesticide_number, details in dict_probs.items() %}
                <div class="pesticide-info-box">
                    <h4>Pesticide Number: {{ pesticide_number }}</h4>
                    {% for key, value in details.items() %}
                        <p><strong>{{ key.capitalize() }}:</strong> {{ value }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>
