<!DOCTYPE html>
<html>
    <head>
        <title>HarvestAI Form</title>
        <meta charset="UTF-8">
        <meta name="description" content="HarvestAI Form">
        <meta name="author" content="HarvestAI">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <div class="form-page-container">
            <h1 id="name">Introducing pestDecide</h1>
            <h1> {{dict_probs}}</h1>
            <!-- Iterate through all key-value pairs in dict_probs -->

        </div>
    </body>
</html>
